@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.marquee {
    animation: marquee 60s infinite linear;
}

.vertical{
    aspect-ratio: 9/16;
}

.comunitycard:hover div:nth-child(2){
    display: flex;
    justify-content: space-between;
    
}

.comunitycard div:nth-child(2){
    display: none;
}

.feedgrid{
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem,15rem));
    justify-content: center;
    align-content: start;
}

.gen_image:hover span{
    display: flex;
}
.gen_image span{
    display: none;
}

@keyframes toast_rise {
    from{
        transform: translateY(1.25rem);
    }
    to{
        transform: translateY(-1.25rem);
    }
}


@keyframes dialog_rise {
    from{
        transform: translateY(50%);
    }
    to{
        transform: translateY(-50%);
    }
}

.toast{
    animation: toast_rise .5s ease;
    animation-fill-mode: forwards;
}

.dialog{
    animation: toast_rise .5s ease;
    animation-fill-mode: forwards;
}
.tooltip{
    transform: scale(0);
    transition: transform .5s ease 
}
.tooltip_parent:hover .tooltip{
    transform: scale(1);
}

.img_after{
    clip-path: inset(0 0 0 50%);
}

.slider_line {
    position: absolute;
    width: 2px;
    pointer-events: none;
    height: 100%;
    background-color: white;
    z-index: 10;
    left: 20%;
    transform: translateX(-50%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.slider_button {
    position: absolute;
    background-color: white;
    fill: black; 
    border-radius: 9999px; 
    padding: 0.25rem; 
    display: grid;
    place-items: center; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 50;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); 
}









