@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.marquee {
    animation: marquee 60s infinite linear;
}

.vertical{
    aspect-ratio: 9/16;
}

.comunitycard:hover div:nth-child(2){
    display: flex;
    justify-content: space-between;
    
}

.comunitycard div:nth-child(2){
    display: none;
}

.feedgrid{
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem,15rem));
    justify-content: center;
    align-content: start;
}

.gen_image:hover span{
    display: flex;
}
.gen_image span{
    display: none;
}

@keyframes toast_rise {
    from{
        transform: translateY(1.25rem);
    }
    to{
        transform: translateY(-1.25rem);
    }
}


@keyframes dialog_rise {
    from{
        transform: translateY(50%);
    }
    to{
        transform: translateY(-50%);
    }
}

.toast{
    animation: toast_rise .5s ease;
    animation-fill-mode: forwards;
}

.dialog{
    animation: toast_rise .5s ease;
    animation-fill-mode: forwards;
}



