@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.marquee {
    animation: marquee 60s infinite linear;
}

.vertical{
    aspect-ratio: 9/16;
}
